#text-ip{
    height: 8vh;
    width: 80%;
    display: block;
    margin: auto;
    padding: 2rem;
    text-align: center;
    font-weight: bolder;
    font-size: larger;
    border-radius: 2rem;
}
#oh{
    text-align: center;
    margin: auto;
    font-weight: bold;
}
#translate-btn{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 1rem;
}
#output{
    border: 1px solid black;
    height: 8vh;
    width: 80%;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 1rem;
    padding: 1rem 1rem;
    font-size: larger;
}